.section {
  padding: 72px 0;
  background: linear-gradient(
          to bottom,
          var(--ifm-color-emphasis-100),
          var(--ifm-color-emphasis-0)
  ),
  var(--ifm-color-emphasis-100);
}

.sectionAlt {
}

.sectionInner {
  margin: 0 auto;
}

.featureImage {
  width: auto;
  max-height: 128px;
  margin: 0 auto;
}

.featureHeading {
  font-size: var(--ifm-h3-font-size);
  padding-top: 1rem;
}

.announcement {
  font-weight: bold;
  font-size: 24px;
  padding: 48px;
  margin: 0 auto;
  text-align: center;
}

.announcementDark {
  background-color: #20232a;
  color: #fff;
  /* Reapply the primary color, because it has been locally overridden as
   * the dark theme color */
  --ifm-link-color: var(--ifm-color-primary);
}

.announcementInner {
  margin: 0 auto;
  max-width: 768px;
}

.topBanner {
  font-size: 20px;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBannerTitle {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

@media only screen and (max-width: 768px) {
  .topBannerTitle {
    font-size: 34px;
  }
}

.topBannerTitleText {
  background: linear-gradient(45deg, #399cff, #00c775 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topBannerTitleText:hover {
  border-bottom: solid 2px;
}

html[data-theme='dark'] .topBannerTitleText {
  background: linear-gradient(45deg, #399cff, #00ff95 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topBannerDescription {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .topBannerDescription {
    font-size: 16px;
  }
}

.tweetsSection > :global(.col) > * {
  margin-bottom: 2rem;
}

@media (max-width: 996px) {
  .tweetsSection > :global(.col:last-child) > *:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 997px) {
  .tweetsSection > :global(.col) > *:last-child {
    margin-bottom: 0;
  }
}

/* Used to test CSS insertion order */
.test-marker-site-index-page {
  content: 'site-index-page';
}
