.wrapper {
    background: linear-gradient(
            to bottom,
            var(--home-section-top),
            var(--home-section-bottom)
    ),
    var(--home-section-top);
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1000px;
    padding: 8rem 1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
